*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
.div1{
    flex-basis: 45%;
}
.div1 h3{
    font-size: 30px;
    text-transform: uppercase;
    padding: 20px;
}
.img{
    width: 50%;
    height: 60vh;
}
a{
    color: blue;
}